.maincontent {
	justify-content: center;
	flex-direction: column;
	align-items: center;
	display: flex;
	min-height: 100vh;
	margin-top: 100px;
}
.maincontent h1 {
	font-family: Convergence;
	text-align: right;
	width: 80%;
	margin-bottom: 20px;
}
.images {
	font-size: 0px;
	text-align: center;
	width: 100%;
}

.images img {
	width: 40%;
	height: auto;
	display: inline;
	margin: 10px;
}
