@import url("https://fonts.googleapis.com/css2?family=Allura&family=Convergence&family=DM+Serif+Display&family=Delius&family=Pacifico&family=Sacramento&display=swap");
.mainheader {
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	z-index: 5000;
}
.logodiv {
	z-index: 6000;
}
.mainheader h1 {
	font-family: "Allura", cursive;
}
.mainheader h5 {
	text-align: end;
}
.headerbuttondiv {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 60%;
}
.headerbuttondiv button {
	font-family: "Convergence";
	font-size: 20px;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	width: 20%;
}
.headerbuttondiv button:hover {
	/* enlarge */
	transform: scale(1.1);
	transition: transform 0.5s;
	cursor: pointer;
}
html,
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-color: #c1a790;
	min-height: 100vh;
}
* {
	margin: 0;
	padding: 0;
}
footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: auto;
	width: 100%;
	justify-content: flex-end;
	align-items: center;
	position: absolute;
	padding: 10px;
}
.socialButtonDiv {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 30%;
}
.socialDiv {
	width: 30px;
	height: 30px;
	background-color: #947f6d;
	padding: 10px;
	border-radius: 20px;
	display: flex;
	flex-direction: row;
}
.maincontent {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: max-content;
	width: auto;
	padding: 20px 100px;
	justify-content: space-evenly;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: #bf88a0 #bf9b9b;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-track {
	background: #c1a790;
}

*::-webkit-scrollbar-thumb {
	background-color: #d0c1b4;
	border-radius: 10px;
	border: none #ffffff;
}
